
        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 4px;
        }

        .axisSteelBlue text {
            fill: steelblue;
        }

        .axisRed text {
            fill: red;
        }