<!DOCTYPE html>
<meta charset="utf-8">

<html lang="en">

<head>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>
        /* set the CSS */

        html,
        body {
            height: 100%;
            width: 100%;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 4px;
        }

        .axisSteelBlue text {
            fill: steelblue;
        }

        .axisRed text {
            fill: red;
        }
    </style>
</head>

<body>

    <!-- load the d3.js library -->
    <div id="div_lawschart" style="height:100%;width:100%">
    </div>

    <script src="../static/barWithLine.js"> </script>
</body>

</html>