<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/libraries/globals.js"></script>
    <script src="../static/libraries/d3-tip.js"></script>

    <link rel="stylesheet" href="..\static\css\datamap.css">
    <style type="text/css">
        /* Legend Font Style */
        body {
            font: 11px sans-serif;
            /* background-color: #ffffff; */
            background-color: #232931;
        }


        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- <div>
        <input type="checkbox" class="checkbox" value="A" checked><label>Mass Shootings</label>
    </div> -->
    <div id="test_id" style="height: 100%;width: 100%;">
    </div>
    <script src="../static/datamap_d3.js">
    </script>
</body>

</html>