<!DOCTYPE html>

<head>
    <title>US Gun Violence</title>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script> -->
    <script src="../static/libraries/d3.v4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="../static/libraries/datamaps.usa.min.js"></script>
    <script src="../static/libraries/moment.min.js"></script>
    <script src="../static/libraries/globals.js"></script>
</head>

<body>
    <!-- <div id="div_datamap" style="position: relative; width: 500px; height: 300px;"></div> -->
    <div id="div_datamap" style="position: absolute"></div>
    <div id="div_barchart" style="position: absolute"></div>
    <script src="../static/datamap.js"> </script>
    <!-- <script src="../static/barChart.js"></script> -->
</body>

</html>