<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <!-- Load d3-cloud -->
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

    <style>
        body,
        html {
            height: 100%
        }
    </style>
</head>

<body>
    <!-- Create a div where the graph will take place -->
    <div style="height:100%" id="div_wordcloud"></div>

    <script src="../static/wordcloud.js"></script>
</body>

</html>